torch>1.0.0
# Until 0.6.3 is out we can use this pip install from the github repo
git+https://github.com/huggingface/pytorch-pretrained-BERT.git@78462aad6113d50063d8251e27dbaadb7f44fbf0
# for GPT v1 used 0.6.2 instead
# We also need that latest git versions of these
git+https://github.com/lanpa/tensorboardX@53bb375
#tensorboardX>=1.6
git+https://github.com/pytorch/ignite.git@c92838c9
#pytorch-ignite>=0.2.0 
tensorflow  # for tensorboardX
anytree
scikit-learn
tqdm
colorlogs
crayons
pandas
psaw
coloredlogs
simple_cache
fuzzywuzzy
irc3
slack