{
    "zeromq": {"port": 5586},
    "irc": {
        "port": 6667,
        "nick": "roastme_robot",
        "password": "**",
        "server": "irc.freenode.net",
        "channels": ["roastme"],
        "ssl": false
    },
    "slack": {
        "App id": "**",
        "Client ID": "*.*",
        "Client Secret": "*",
        "Signing Secret": "**",
        "Verification Token": "**"
        "OAuth Access Token":"xoxp-***",
        "Bot User OAuth Access Token":"xoxb-***"
    }    
}
